service vendor.secretkeeper.software /apex/com.android.hardware.security.secretkeeper/bin/hw/android.hardware.security.secretkeeper-service.nonsecure
    interface aidl android.hardware.security.secretkeeper.ISecretkeeper/default
    class hal
    user nobody
    group nobody
    disabled
