service vendor.keymaster-4-0-software /vendor/bin/hw/android.hardware.keymaster@4.0-service
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    user system
    group system drmrpc
